src/main/mule/scatter-gather.xml
<?xml version="1.0" encoding="UTF-8"?>



<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"

	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"

	xmlns:http="http://www.mulesoft.org/schema/mule/http"

	xmlns="http://www.mulesoft.org/schema/mule/core"

	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd

http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd

http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd

http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

	<http:listener-config name="HTTP_Listener_config"

		doc:name="HTTP Listener config"

		doc:id="e64ff89a-e415-4dcd-951a-eea295ec46a3">

		<http:listener-connection host="0.0.0.0"

			port="8087" />

	</http:listener-config>

	<flow name="scatter-gatherFlow"

		doc:id="93d2059f-8e26-4add-9708-99ca35919659">

		<http:listener doc:name="Listener"

			doc:id="83b6f13d-a4cf-4f78-b3dc-3f2c290b41c5"

			config-ref="HTTP_Listener_config" path="/scatter-gather" />

		<logger level="INFO" doc:name="Logger"

			doc:id="80da6132-35fa-4057-9963-5a2ae2555371" message="#[payload]" />

		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e552daeb-cbad-45e5-bdcb-2f323d522ebb" />

		<set-payload

			value='#[{"message":"payload before scatter gather"}]'

			doc:name="Set Payload" doc:id="e7cfc064-9d03-4cfb-8642-d804eae4e275" />

		<logger level="INFO" doc:name="Logger"

			doc:id="e3b3d207-ec16-43e8-8d82-f3fb640bed51" message="#[payload]" />

		<scatter-gather doc:name="Scatter-Gather"

			doc:id="fcc84dde-2e71-4b0d-9400-c562a983011e">

			<route>

				<logger level="INFO" doc:name="Logger"

					doc:id="d1bba6e5-c23f-4c60-8c72-3d3a94c7313a" message="**route1-target1**" />

				<logger level="INFO" doc:name="Logger"

					doc:id="ca747f07-b88d-4e16-b007-2cfe47535920"

					message="**after route1**" />

				<set-payload

					value='#[{"message":"payload after scatter gather logger1"}]'

					doc:name="Set Payload"

					doc:id="5b1e9767-8eed-41cc-ac11-d474e3cf3cba" />

			</route>

			<route>

				<logger level="INFO" doc:name="Logger"

					doc:id="cb738cda-7a3e-4bd1-82e9-18a4f3ecf6b2" message="**route2-target2**" />

				<logger level="INFO" doc:name="Logger"

					doc:id="76dcf449-3772-4df7-9f6f-b27baa2ebe63"

					message="**After route2**" />

				<set-payload

					value='#[{"message":"payload after scatter gather logger2"}]'

					doc:name="Set Payload"

					doc:id="255afc0a-00b4-4e19-acd8-c378be269e30" />

			</route>

		</scatter-gather>

		<logger level="INFO" doc:name="Logger"

			doc:id="0747cebc-8f1b-4df8-bbbe-8b4960ee037d" message="#[payload]" />

	</flow>

</mule>

